<div>
    <div>
        <img scr="{{flags.svg}}" alt="{{name.official}}">
    </div>
    <div>
        <h2>Имя:  {{name.official}}</h2>
        <p>Столица: {{capital}}</p>
        <p>население: {{population}}</p>
            </div>
            </div>

{{!-- 
            function renderCountryCard(country) {
            const markup = countryCardTpl(country);
            countryListEl.innerHTML = markup;
            }; --}}